<header class="header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
  <div class="container">
    <div class="header__inner">
      <a href="@@links.home" class="header__logo"> @@include('../header/header-logo.html') </a>
      <nav class="menu">
        <div class="menu__burger">
          <svg width="20px" height="23px" viewBox="0 0 20 22" version="1.1">
            <g>
              <path
                d="M 0 4.125 C 0 3.363281 0.636719 2.75 1.429688 2.75 L 18.570312 2.75 C 19.363281 2.75 20 3.363281 20 4.125 C 20 4.886719 19.363281 5.5 18.570312 5.5 L 1.429688 5.5 C 0.636719 5.5 0 4.886719 0 4.125 Z M 0 11 C 0 10.238281 0.636719 9.625 1.429688 9.625 L 18.570312 9.625 C 19.363281 9.625 20 10.238281 20 11 C 20 11.761719 19.363281 12.375 18.570312 12.375 L 1.429688 12.375 C 0.636719 12.375 0 11.761719 0 11 Z M 20 17.875 C 20 18.636719 19.363281 19.25 18.570312 19.25 L 1.429688 19.25 C 0.636719 19.25 0 18.636719 0 17.875 C 0 17.113281 0.636719 16.5 1.429688 16.5 L 18.570312 16.5 C 19.363281 16.5 20 17.113281 20 17.875 Z M 20 17.875 " />
            </g>
          </svg>
        </div>
        <ul class="menu__list">
          <li class="menu__list-item dropdown">
            <a class="menu__list-link" href="@@links.aboutUs"> О компании </a>
            <div class="dropdown__content">
              <a class="dropdown__content-link" href="#aa">Ссылка 1</a>
              <a class="dropdown__content-link" href="#asd">Ссылка 2</a>
            </div>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="@@links.direction"> Услуги </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="@@links.debt"> Если у вас долг </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="@@links.callback"> обратная связь </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="@@links.footer"> Контакты </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
