@font-face {
    font-family: 'DMSans-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('DMSans-Bold'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/DMSans-Bold.woff2')format('woff2'),
        url('../fonts/DMSans-Bold.woff')format('woff');
      
}

@font-face {
    font-family: 'DMSans-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('DMSans-Medium'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/DMSans-Medium.woff2')format('woff2'),
        url('../fonts/DMSans-Medium.woff')format('woff');
    
}

@font-face {
    font-family: 'DMSans-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('DMSans-Medium'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/DMSans-Regular.woff2')format('woff2'),
        url('../fonts/DMSans-Regular.woff')format('woff');
    
}

@font-face {
    font-family: 'Rubik-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Rubik-Medium'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/Rubik-Medium.woff2')format('woff2'),
        url('../fonts/Rubik-Medium.woff')format('woff');
 
}

@font-face {
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Rubik-Regular'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/Rubik-Regular.woff2')format('woff2'),
        url('../fonts/Rubik-Regular.woff')format('woff');    
}

@font-face {
    font-family: 'myriadpro-regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('myriadpro-regular'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/myriadpro-regular.woff')format('woff'),
        url('../fonts/myriadpro-regular.woff2')format('woff2');    
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Poppins-Bold'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/Poppins-Bold.woff')format('woff'),
        url('../fonts/Poppins-Bold.woff2')format('woff2');    
}

@font-face {
    font-family: 'Rubik-light';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Rubik-light'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/Rubik-light.woff')format('woff'),
        url('../fonts/Rubik-light.woff2')format('woff2');    
}

@font-face {
    font-family: 'Rubik-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Rubik-Bold'), //если у пользователя шрифт находится на пк,то он скачает его с локал.
        url('../fonts/Rubik-Bold.woff')format('woff'),
        url('../fonts/Rubik-Bold.woff2')format('woff2');    
}
