$title-color: #191919;
$dark-color: #04131a;
$text-color: #fff;
$accent-color: #ff850d;

%golog-400 {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
}

%golos-700 {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
}

%nunito-300 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
}

%nunito-400 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
