@import "vars";
@import "fonts";
@import "reset";
@import "lib";
@import "global";

.header {
  padding: 10px 0;
  background-color: #04131a;
  color: $text-color;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  transition: background-color 0.5s;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  &__logo {    
    svg {
      fill: white;
      transition: fill 0.5s;

      &:hover {
        fill: $accent-color;
      }
    }
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  background: transparent;
}

/* Индикатор прогресса (индикатор прокрутки) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
  position: absolute;
  top: 0;
}
.menu {
  &__burger {
    display: none;
    path {
      fill: white;
    }
  }

  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 24px;
    transition: color 0.4s;

    &:hover {
      color: $accent-color;
    }
  }

  &__list-item:last-child {
    margin: 0;
  }
}

///about-us
.about-us {
  padding: 190px 0 100px;
  position: relative;

  background-color: $dark-color;
  color: $text-color;

  &__title {
    margin-bottom: 38px;
  }

  &__list {
    max-width: 950px;
  }

  &__list-item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
    @extend %myriadpro-regular;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 10px;
      height: 10px;
      background-color: $accent-color;
      border-radius: 50%;
    }

    &:last-child {
      margin: 0;
    }
  }
}
/// form

.callback {
  padding: 130px 0;
  &__form {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;

    &:last-child {
      margin: 0;
    }
  }
  &__form-input {
    width: 490px;
    background-color: #f6f4ed;
    border: 1px solid #d1cfc7;
    border-radius: 6px;
    padding: 15px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    display: block;
    margin: 0 auto 10px;
    min-height: 310px;
    border-radius: 6px;
    padding: 15px;
  }

  &__btn {
    display: block;
    border: none;
    padding: 30px 50px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: not-allowed;
    color: #fff;
    background-color: #285d8d;
    border: 2px solid #285d8d;
    border-radius: 6px;
    transition: all 0.3s;
    font-size: 16px;
  }

  &__btn.disabled {
    opacity: 0.3;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 560px;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__accept {
    cursor: pointer;
  }

  &__checkbox {
    width: 0;
    height: 0;
    position: absolute;
    display: none;
    &:checked + .callback__custom-checkbox {
      &::after {
        content: "";
        background-image: url("../images/icons/check\ \(1\).svg");
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #c3d0c6;
    cursor: pointer;
  }
}

///
.footer {
  padding: 50px 0;
  background-color: #637075;
  color: white;
  &__top-list {
    display: flex;
    justify-content: space-between;
  }

  &__support{
    max-width: 170px;
  }

  &__top-item {
    max-width: 280px;
  }

  &__support-item {
    display: flex;
    justify-content: space-between;
    svg {
      fill: $accent-color;
    }
  }



  

  &__support-item + &__support-item {
    margin-top: 15px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  &__contact-item {
    background-color: #1ad741;
    height: 50px;
    color: $text-color;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 12px;

    &--violet {
      background-color: #7d3daf;
      margin: 0;
    }
  }

  &__contact-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
  }

  &__bottom {
    padding-top: 50px;
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 810px;
    margin: 0 auto;
  }
}
@keyframes from-top {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 200px;
    width: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
  }
}
//popup
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup {
  &.popup--none {
    animation: fade-out 1s;
    opacity: 0;
  }
  &.popup--active {
    opacity: 1;
    visibility: visible;
    animation: fade-in 1s;
  }
  &__close {
    cursor: pointer;
    display: block;
    text-align: right;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  &__content {
    max-width: 700px;
    background-color: $text-color;
    padding: 24px 32px 40px;
    border-radius: 10px;
  }

  &__title {
    font-size: 25px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.33;
  }
}

///debt

.debt {
  padding: 100px 0 150px;
  background-size: contain;
  background-image: url('../images//main_bg.jpg');
 
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__list-item {
    max-width: 33%;
    flex-basis: 33%;
  }
  &__info {
    padding: 30px;
    background-color: #fff;
    color: #000;
    line-height: 1.7;
  }

  &__box {
    padding: 25px;
    span {
      font-size: 100px;
      display: block;
      text-align: center;
      background-color: #161e32;
      color: $text-color;
      border-radius: 5px 5px 0 0;
    }
  }
}

@import "media";
