
    <footer class="footer" id="footer">
        <div class="container">
          <div class="footer__top">
            <div class="footer__top-wrapper">
              <ul class="footer__top-list">
                <li class="footer__top-item">
                  <h4 class="title footer__title">Адрес</h4>
                  <div class="footer__top-box">
                    <p class="footer-top__text">
                      117342, г. Москва, ул. Бутлерова, д. 17, БЦ Neo Geo, Блок А,
                      эт. 7.
                    </p>
                  </div>
                </li>
                <li class="footer__top-item">
                  <h4 class="title footer__title">Служба поддержки</h4>
                  <div class="footer__top-box">
                    <ul class="footer__support">
                      <li class="footer__support-item">
                        <svg
                          width="20px"
                          height="20px"
                          viewBox="0 0 20 20"
                          version="1.1"
                        >
                          <g>
                            <path
                              d="M 6.441406 0.960938 C 6.140625 0.234375 5.347656 -0.152344 4.589844 0.0546875 L 1.152344 0.992188 C 0.472656 1.179688 0 1.796875 0 2.5 C 0 12.164062 7.835938 20 17.5 20 C 18.203125 20 18.820312 19.527344 19.007812 18.847656 L 19.945312 15.410156 C 20.152344 14.652344 19.765625 13.859375 19.039062 13.558594 L 15.289062 11.996094 C 14.652344 11.730469 13.914062 11.914062 13.480469 12.449219 L 11.902344 14.375 C 9.152344 13.074219 6.925781 10.847656 5.625 8.097656 L 7.550781 6.523438 C 8.085938 6.085938 8.269531 5.351562 8.003906 4.714844 L 6.441406 0.964844 Z M 6.441406 0.960938 "
                            />
                          </g>
                        </svg>
                        <a class="footer__link" href="tel:88002343364"
                          >89140693644</a
                        >
                      </li>
                      <li class="footer__support-item">
                        <svg
                          width="20px"
                          height="20px"
                          viewBox="0 0 20 20"
                          version="1.1"
                        >
                          <g>
                            <path
                              d="M 6.441406 0.960938 C 6.140625 0.234375 5.347656 -0.152344 4.589844 0.0546875 L 1.152344 0.992188 C 0.472656 1.179688 0 1.796875 0 2.5 C 0 12.164062 7.835938 20 17.5 20 C 18.203125 20 18.820312 19.527344 19.007812 18.847656 L 19.945312 15.410156 C 20.152344 14.652344 19.765625 13.859375 19.039062 13.558594 L 15.289062 11.996094 C 14.652344 11.730469 13.914062 11.914062 13.480469 12.449219 L 11.902344 14.375 C 9.152344 13.074219 6.925781 10.847656 5.625 8.097656 L 7.550781 6.523438 C 8.085938 6.085938 8.269531 5.351562 8.003906 4.714844 L 6.441406 0.964844 Z M 6.441406 0.960938 "
                            />
                          </g>
                        </svg>
                        <a class="footer__link" href="tel:88002343364"
                          >89140693644</a
                        >
                      </li>
                      <li class="footer__support-item">
                        <svg
                          width="20px"
                          height="20px"
                          viewBox="0 0 20 20"
                          version="1.1"
                        >
                          <g id="surface1">
                            <path
                              d="M 1.875 2.5 C 0.839844 2.5 0 3.339844 0 4.375 C 0 4.964844 0.277344 5.519531 0.75 5.875 L 9.25 12.25 C 9.695312 12.582031 10.304688 12.582031 10.75 12.25 L 19.25 5.875 C 19.722656 5.519531 20 4.964844 20 4.375 C 20 3.339844 19.160156 2.5 18.125 2.5 Z M 0 6.875 L 0 15 C 0 16.378906 1.121094 17.5 2.5 17.5 L 17.5 17.5 C 18.878906 17.5 20 16.378906 20 15 L 20 6.875 L 11.5 13.25 C 10.609375 13.917969 9.390625 13.917969 8.5 13.25 Z M 0 6.875 "
                            />
                          </g>
                        </svg>
  
                        <a class="footer__link" href="mailto:inform@NRService.ru"
                          >arest09@mail.ru</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="footer__top-item">
                  <h4 class="title footer__title">Мы в соцсетях</h4>
                  <div class="footer__top-box">
                    <ul class="footer__contact">
                      <li class="footer__contact-item">
                        <div class="footer__contact-inner">
                          <img
                            src="./images/icons/whatsapp (1).svg"
                            alt="иконка телефона"
                          />
                          <a
                            href="https://wa.me/79178306889"
                            class="footer__contact-link"
                            >89140693644</a
                          >
                        </div>
                      </li>
                      <li
                        class="footer__contact-item footer__contact-item--violet"
                      >
                        <div class="footer__contact-inner">
                          <img
                            src="./images/icons/whatsapp (1).svg"
                            alt="иконка телефона"
                          />
                          <a
                            href="viber://chat?number=+79178306889"
                            class="footer__contact-link"
                            >89140693644</a
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__bottom">
            <ul class="footer__bottom-list">
              <li class="footer__bottom-item">© 2015-2022, ООО «НСВ»</li>
              <li class="footer__bottom-item">Политика конфиденциальности</li>
            </ul>
          </div>
        </div>
      </footer>